# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
.*.swp

# We generate makefiles by shell script
Makefile

# Win32-specific ignores
Debug/
Release/
binary/
build/
ipch/
lib/
Nethack.sln
Nethack.sdf
Nethack.opensdf
Makefile.bcc
Makefile.gcc
Makefile-orig
Makefile.bcc-orig
Makefile.gcc-orig
*.suo
*.pdb
*.ilk
# VS2013 extension to auto-whine about questionable code generates these
*.lastcodeanalysissucceeded
# VS 2017 caches data into the hidden directory .vs
.vs
# Win32-specific ignores end
.DS_Store

git_token.txt
make_all_*
claude_2025-03-09_11-16.asc
config.h.patch
cppcheck_output.asc
cursmesg.patch
decl.c.patch
decl.h.patch
forced_cppcheck.txt
make_all.txt
make_errors.asc
related_cppcheck.txt
shortened_forced_cppcheck.txt
shortened_make_all.txt
